#drop_zone {
  width: 50%;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center ;
}

#file {
  width: 200px;
  height: 200px;
  height: 100%;
 
}
